/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: "Hyundai Sans Head";
  src: url('../font/hyundai-head-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Hyundai Sans Text";
  src: url('../font/hyundai-text-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Hyundai Sans Head";
  src: url('../font/hyundai-head-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Hyundai Sans Text";
  src: url('../font/hyundai-text-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 18px;
  font-family: "Hyundai Sans Head", sans-serif;
}
input,
select,
textarea {
  outline: none;
  font-family: notokr, sans-serif;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
}
img {
  backface-visibility: hidden;
}
.f-color {
  color: #000;
}
.bg-color {
  background-color: #153f6f;
}
.que-color {
  background-color: #001e40;
}
.text-font {
  font-family: "Hyundai Sans Text", sans-serif;
}
.h-mr50 .ans label {
  margin-right: 2.77777778rem;
}
.h-mr60 .ans label {
  margin-right: 3.33333333rem;
}
.h-mr70 .ans label {
  margin-right: 3.88888889rem;
}
.h-mr80 .ans label {
  margin-right: 4.44444444rem;
}
.h-mr90 .ans label {
  margin-right: 5rem;
}
.h-mr100 .ans label {
  margin-right: 5.55555556rem;
}
.h-mb15 .ans label {
  margin-bottom: 0.83333333rem;
}
.container {
  min-width: 60rem;
}
.container .wrap {
  font-size: 0rem;
  text-align: center;
  background-color: #ece8e7;
}
.container .wrap .top {
  padding: 2.77777778rem;
  box-sizing: border-box;
  text-align: right;
}
.container .wrap .top h1 {
  background-repeat: no-repeat;
  background-image: url('../img/logo.png');
  background-size: contain;
  width: 14.38888889rem;
  height: 2.16666667rem;
  display: inline-block;
}
.container .wrap .top h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
.container .wrap section {
  display: none;
  margin-top: 1.11111111rem;
}
.container .wrap section .inner {
  padding-top: 0rem;
  padding-right: 2.77777778rem;
  padding-bottom: 4.44444444rem;
  padding-left: 2.77777778rem;
  box-sizing: border-box;
  min-height: calc(100vh - 299px);
}
.container .wrap section .inner h2 {
  font-size: 4.72222222rem;
  color: #000;
  font-weight: 500;
  line-height: 4.77777778rem;
  margin-top: 0.72222222rem;
  text-align: left;
  letter-spacing: -0.11111111rem;
}
.container .wrap section .inner .q-board {
  letter-spacing: -0.02777778rem;
}
.container .wrap section .inner .q-board .q-list {
  margin-bottom: 4.72222222rem;
}
.container .wrap section .inner .q-board .q-list:last-child {
  margin-bottom: 0rem;
}
.container .wrap section .inner .q-board .q-list .que {
  font-size: 2.11111111rem;
  color: #fff;
  font-weight: 500;
  text-align: left;
  margin-bottom: 1.66666667rem;
  position: relative;
}
.container .wrap section .inner .q-board .q-list .que i,
.container .wrap section .inner .q-board .q-list .que p {
  color: #000;
  display: inline-block;
}
.container .wrap section .inner .q-board .q-list .que i {
  vertical-align: top;
}
.container .wrap section .inner .q-board .q-list .que p {
  text-indent: 4.16666667rem;
  margin-left: -4.16666667rem;
}
.container .wrap section .inner .q-board .q-list .ans {
  text-align: left;
}
.container .wrap section .inner .q-board .q-list .ans .select-wrap {
  width: 100%;
  height: 4.44444444rem;
  position: relative;
}
.container .wrap section .inner .q-board .q-list .ans .select-wrap:after {
  content: '';
  display: block;
  width: 1.22222222rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-image: url('../img/ico-2.png');
  background-size: contain;
  position: absolute;
  right: 0.77777778rem;
  top: 1.61111111rem;
  left: auto;
  bottom: auto;
  vertical-align: middle;
  display: inline-block;
  pointer-events: none;
}
.container .wrap section .inner .q-board .q-list .ans .select-wrap select {
  font-size: 1.66666667rem;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  padding-left: 1.66666667rem;
  box-sizing: border-box;
}
.container .wrap section .inner .q-board .q-list .ans p {
  font-size: 1.94444444rem;
}
.container .wrap section .inner .q-board .q-list.select .ans {
  padding-left: 0rem;
}
.container .wrap section .inner .q-board .q-list.check-box .ans label input[type=checkbox]:checked + i:after {
  content: '';
  display: block;
  width: 1.05555556rem;
  height: 1.05555556rem;
  border-radius: 50%;
  position: absolute;
  left: 0.22222222rem;
  top: 0.22222222rem;
  right: auto;
  bottom: auto;
  background-color: #153f6f;
}
.container .wrap section .inner .q-board .q-list.q-list1 .ans label {
  margin-right: 3.33333333rem;
}
.container .wrap section .inner .q-board .q-list.q-list2 .ans label {
  margin-right: 5.55555556rem;
}
.container .wrap section .inner .q-board .q-list.q-list3 .ans .select-wrap {
  width: 17.44444444rem;
  display: inline-block;
  margin-right: 1.05555556rem;
  position: relative;
}
.container .wrap section .inner .q-board .q-list.q-list3 .ans .select-wrap:last-child {
  margin-right: 0rem;
}
.container .wrap section .inner .q-board .q-list.q-list4 .ans label {
  margin-bottom: 0.83333333rem;
}
.container .wrap section .inner .q-board .q-list.q-list4 .ans label {
  display: block;
}
.container .wrap section .inner .q-board .q-list.q-list4 .ans p {
  margin-top: 2.77777778rem;
}
.container .wrap section .inner .q-board .q-list.q-list5-1 .ans .label-wrap {
  zoom: 1;
}
.container .wrap section .inner .q-board .q-list.q-list5-1 .ans .label-wrap:after {
  content: '';
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.container .wrap section .inner .q-board .q-list.q-list5-1 .ans .label-wrap p {
  font-size: 1.94444444rem;
  text-align: center;
  font-weight: 500;
  width: 6.77777778rem;
  margin-top: 0rem;
  margin-right: 2rem;
  margin-bottom: 0.83333333rem;
  margin-left: 0rem;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
.container .wrap section .inner .q-board .q-list.q-list5-1 .ans .label-wrap p:after {
  content: '';
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.container .wrap section .inner .q-board .q-list.q-list5-1 .ans .label-wrap p s {
  width: 2.38888889rem;
  display: inline-block;
  box-sizing: border-box;
}
.container .wrap section .inner .q-board .q-list.q-list5-1 .ans .label-wrap p s.l {
  float: left;
  text-align: left;
  padding-left: 0.11111111rem;
}
.container .wrap section .inner .q-board .q-list.q-list5-1 .ans .label-wrap p s.r {
  float: right;
  text-align: right;
  padding-right: 0.11111111rem;
}
.container .wrap section .inner .q-board .q-list.q-list5-1 .ans .label-wrap label {
  margin-bottom: 0.83333333rem;
}
.container .wrap section .inner .q-board .q-list.q-list5-1 .ans .label-wrap label s {
  width: 8.33333333rem;
  text-align: left;
}
.container .wrap section .inner .q-board .q-list.q-list5-1 .ans .label-wrap:first-child {
  margin-bottom: 0.94444444rem;
}
.container .wrap section .inner .q-board .q-list.q-list5-1 .ans .label-wrap:nth-child(2) {
  margin-bottom: 1.11111111rem;
}
.container .wrap section .inner .q-board .q-list.q-list5-1 .ans .label-wrap:last-child p {
  margin-bottom: 0rem;
  line-height: 4.44444444rem;
}
.container .wrap section .inner .q-board .q-list.q-list5-1 .ans .label-wrap input[type=text] {
  font-size: 1.94444444rem;
  width: 44.16666667rem;
  height: 4.44444444rem;
  border: 2px solid #e1e1e1;
  line-height: 4.44444444rem;
  padding-left: 1.11111111rem;
  box-sizing: border-box;
  float: right;
}
.container .wrap section .inner .q-board .q-list.q-list5-2 .ans label {
  margin-right: 3.88888889rem;
}
.container .wrap section .inner .q-board .q-list.q-list5-4 .ans label {
  margin-right: 2.77777778rem;
}
.container .wrap section .inner .q-board .q-list.q-list5-5 .ans label {
  margin-bottom: 0.83333333rem;
}
.container .wrap section .inner .q-board .q-list.q-list5-5 s {
  width: 13.88888889rem;
}
.container .wrap section .inner .q-board .q-list.q-list5-6 .ans label {
  margin-right: 2.77777778rem;
}
.container .wrap section .inner .q-board .q-list.q-list6-1 .ans label {
  margin-right: 2.77777778rem;
}
.container .wrap section .inner .q-board .q-list.q-list6-2 .ans label {
  margin-bottom: 0.83333333rem;
}
.container .wrap section .inner .q-board .q-list.q-list6-2 .ans label {
  margin-right: 4.44444444rem;
}
.container .wrap section .inner .q-board .q-list.q-list6-2 s {
  width: 9.16666667rem;
}
.container .wrap section .inner .q-board .q-list.q-list6-2 s.s {
  width: auto;
}
.container .wrap section .inner .q-board .q-list.q-list6-3 .ans label {
  margin-right: 2.77777778rem;
}
.container .wrap section .inner .q-board .q-list.q-list6-3 .ans label {
  margin-bottom: 0.83333333rem;
}
.container .wrap section .inner .q-board .q-list.q-list6-4 .ans label {
  margin-right: 2.77777778rem;
}
.container .wrap section .inner .q-board .q-list.q-list7 .ans label {
  margin-right: 5.55555556rem;
}
.container .wrap section .inner .q-board .q-list.q-list8 .ans {
  padding-left: 0rem;
}
.container .wrap section .inner .q-board .q-list.q-list8 .ans textarea {
  font-size: 1.66666667rem;
  width: 100%;
  height: 19.72222222rem;
  border: 2px solid #e1e1e1;
  padding-top: 1.38888889rem;
  padding-right: 2.22222222rem;
  padding-bottom: 1.38888889rem;
  padding-left: 2.22222222rem;
  box-sizing: border-box;
}
.container .wrap section label {
  display: inline-block;
}
.container .wrap section label i {
  width: 1.61111111rem;
  height: 1.61111111rem;
  border: 1px solid #b7b7b7;
  box-sizing: border-box;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 0.83333333rem;
  vertical-align: middle;
  position: relative;
}
.container .wrap section label input[type=radio]:checked + i:after {
  content: '';
  display: block;
  width: 1.05555556rem;
  height: 1.05555556rem;
  border-radius: 50%;
  position: absolute;
  left: 0.22222222rem;
  top: 0.22222222rem;
  right: auto;
  bottom: auto;
  background-color: #153f6f;
}
.container .wrap section label s {
  font-size: 1.94444444rem;
  line-height: 2.44444444rem;
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
}
.container .wrap section label input {
  display: none;
}
.container .wrap section label:last-child {
  margin-right: 0rem !important;
}
.container .wrap section .btn {
  font-size: 3.33333333rem;
  line-height: 1;
  padding-top: 3rem;
  color: #fff;
  font-weight: 500;
  width: 100%;
  height: 8.88888889rem;
  box-sizing: border-box;
  background-color: #153f6f;
  display: block;
  cursor: pointer;
}
.container .wrap section .btn s {
  width: 1.22222222rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-image: url('../img/ico-3.png');
  background-size: contain;
  display: inline-block;
  margin-left: 1.11111111rem;
}
.container .wrap section.sec1 {
  margin-top: 0rem;
}
.container .wrap section.sec1 .inner .q-board {
  margin-top: 4.72222222rem;
}
.container .wrap section.sec5 .inner .agree .agree-inner .tit {
  font-size: 2.11111111rem;
  font-weight: 500;
  text-align: center;
  width: 100%;
  height: 4.44444444rem;
  line-height: 4.44444444rem;
  background-color: #cfc8c2;
  letter-spacing: -0.05555556rem;
}
.container .wrap section.sec5 .inner .agree .agree-inner .txt {
  font-size: 1.22222222rem;
  line-height: 1.55555556rem;
  color: #444;
  text-align: left;
  font-family: "Dotum", sans-serif;
  background-color: #fff;
  border: 2px solid #e1e1e1;
  padding-top: 1.88888889rem;
  padding-right: 2.22222222rem;
  padding-bottom: 1.88888889rem;
  padding-left: 2.22222222rem;
}
.container .wrap section.sec5 .inner .agree .agree-inner .agree-chk {
  margin-top: 1.94444444rem;
  margin-right: 0rem;
  margin-bottom: 4.16666667rem;
  margin-left: 0rem;
  text-align: left;
}
.container .wrap section.sec5 .inner .agree .agree-inner .agree-chk label {
  margin-right: 2.22222222rem;
}
.container .wrap section.sec5 .inner .agree .agree-inner .user-info .p-wrap {
  zoom: 1;
  margin-top: 2.77777778rem;
}
.container .wrap section.sec5 .inner .agree .agree-inner .user-info .p-wrap:after {
  content: '';
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.container .wrap section.sec5 .inner .agree .agree-inner .user-info .p-wrap p {
  font-size: 1.94444444rem;
  width: 7.22222222rem;
  height: 4.44444444rem;
  line-height: 4.44444444rem;
  display: inline-block;
  font-weight: 500;
  vertical-align: middle;
}
.container .wrap section.sec5 .inner .agree .agree-inner .user-info .p-wrap p s {
  display: inline-block;
  box-sizing: border-box;
}
.container .wrap section.sec5 .inner .agree .agree-inner .user-info .p-wrap p s.l {
  float: left;
  text-align: left;
  padding-left: 0.11111111rem;
}
.container .wrap section.sec5 .inner .agree .agree-inner .user-info .p-wrap p s.r {
  float: right;
  text-align: right;
  padding-right: 0.11111111rem;
}
.container .wrap section.sec5 .inner .agree .agree-inner .user-info .p-wrap input {
  font-size: 1.94444444rem;
  width: 43.88888889rem;
  height: 4.44444444rem;
  line-height: 4.44444444rem;
  border: 2px solid #e1e1e1;
  vertical-align: middle;
  float: right;
  padding-left: 1.11111111rem;
  box-sizing: border-box;
}
.container .wrap section.sec5 .inner .agree .agree-inner .user-info .p-wrap + .p-wrap {
  margin-top: 1.38888889rem;
}
.container [data-active="1"] .sec1,
.container [data-active="2"] .sec2,
.container [data-active="3"] .sec3,
.container [data-active="4"] .sec4,
.container [data-active="5"] .sec5 {
  display: block;
}
.coupon {
  font-size: 0rem;
  background-color: #ede9e8;
  text-align: center;
}
.coupon .top {
  background-color: #231916;
  padding-top: 2.94444444rem;
  padding-right: 0rem;
  padding-bottom: 2.94444444rem;
  padding-left: 0rem;
}
.coupon .top h2 {
  width: 31.66666667rem;
  height: 3.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/coffee.png');
  background-size: contain;
  display: inline-block;
}
.coupon article .txt {
  padding-top: 0rem;
  padding-right: 2.77777778rem;
  padding-bottom: 0rem;
  padding-left: 2.77777778rem;
  box-sizing: border-box;
}
.coupon article .txt p {
  font-size: 2.66666667rem;
  font-family: "Hyundai Sans Text", sans-serif;
  font-weight: 700;
  margin-top: 1.77777778rem;
  border-bottom: 1px solid #000;
  padding-bottom: 0.83333333rem;
}
.coupon article .txt p + p {
  font-size: 1.55555556rem;
  color: #666666;
  line-height: 2rem;
  font-weight: 400;
  border-bottom: 0;
  padding-bottom: 0rem;
  text-align: left;
  padding-left: 1.94444444rem;
  letter-spacing: -0.02777778rem;
}
.coupon .btn {
  font-size: 2.94444444rem;
  color: #fff;
  width: 35.11111111rem;
  height: 7.83333333rem;
  line-height: 7.83333333rem;
  display: inline-block;
  margin-top: 3.55555556rem;
  margin-right: 0rem;
  margin-bottom: 5.16666667rem;
  margin-left: 0rem;
  cursor: pointer;
}
.coupon .btn.btn1 {
  background-color: #000;
}
.coupon .btn.btn1 s {
  background-repeat: no-repeat;
  background-image: url('../img/arrow.png');
  background-size: contain;
  width: 1.61111111rem;
  height: 1.83333333rem;
  display: inline-block;
}
.coupon .btn.btn2 {
  background-color: #787878;
}
/*# sourceMappingURL=style.css.map */